<div class="search-container">
  <input
    type="text"
    placeholder="Search for the best products.."
    [formControl]="searchInput"
  />
  <button type="submit">Search</button>
</div>

<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>

<ng-container *ngIf="searchResults$ | async as results">
  <ng-container *ngIf="isLoading; else showResults">
    <p>Loading...</p>
  </ng-container>
  <ng-template #showResults>
    <ng-container *ngIf="!noResults; else noResultsTemplate">
      <app-user-posts></app-user-posts>
    </ng-container>
  </ng-template>
</ng-container>
<ng-template #noResultsTemplate>
  <app-no-results></app-no-results>
</ng-template>
